# Installations

In [ ]:
!pip install eurostatapiclient

Collecting eurostatapiclient
  Downloading eurostatapiclient-0.2.7-py3-none-any.whl (12 kB)
Requirement already satisfied: requests>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from eurostatapiclient) (2.23.0)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.7/dist-packages (from eurostatapiclient) (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->eurostatapiclient) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->eurostatapiclient) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->eurostatapiclient) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23.4->eurostatapiclient) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.21.0->eurostatapiclient) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.21.0->eurostatapiclient) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.21.0->eurostatapiclient) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.21.0->eurostatapiclient) (1.24.3)
Installing collected packages: eurostatapiclient
Successfully installed eurostatapiclient-0.2.7

# Libraries

In [ ]:
from matplotlib import pyplot as plt
import numpy as np
import scipy
import pandas as pd

import os
from requests import get
from eurostatapiclient import EurostatAPIClient

from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

# Data

In [ ]:
import sys
IN_COLAB = 'google.colab' in sys.modules
if IN_COLAB:
  from google.colab import drive
  drive.mount('/content/gdrive', force_remount=True)
  dir = os.path.join('gdrive', 'My Drive', 'Eurostat', '02 - Data Science for Structured Data')
  os.system('cd "gdrive${dir}" && mkdir -p data')
else:
  dir = "." 

data_dir = os.path.join(dir, 'data')
os.makedirs(data_dir, exist_ok=True)

True

In [ ]:
def download_save(url, filename):
  res = get(url)
  if res.status_code != 200:
    print(f"Couldn't fetch data from {url}")
  else:
    csv_file = open(os.path.join(data_dir, filename), 'wb')
    csv_file.write(res.content)
    csv_file.close()

## Iris - Flower Classification

In [ ]:
%%html
<iframe src="https://archive.ics.uci.edu/ml/datasets/iris" width="1100" height="600"></iframe>

In [ ]:
download_save('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',
              'iris.csv')

In [ ]:
df_iris = pd.read_csv(os.path.join(data_dir, 'iris.csv'),
                      header=None,
                      names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'])
df_iris.sample(10)

     sepal_length  sepal_width  petal_length  petal_width            class
121           5.6          2.8           4.9          2.0   Iris-virginica
143           6.8          3.2           5.9          2.3   Iris-virginica
91            6.1          3.0           4.6          1.4  Iris-versicolor
122           7.7          2.8           6.7          2.0   Iris-virginica
53            5.5          2.3           4.0          1.3  Iris-versicolor
30            4.8          3.1           1.6          0.2      Iris-setosa
101           5.8          2.7           5.1          1.9   Iris-virginica
45            4.8          3.0           1.4          0.3      Iris-setosa
108           6.7          2.5           5.8          1.8   Iris-virginica
56            6.3          3.3           4.7          1.6  Iris-versicolor

## Pima Indians - Diabetes Classification

https://www.kaggle.com/uciml/pima-indians-diabetes-database

In [ ]:
download_save('https://gist.githubusercontent.com/ktisha/c21e73a1bd1700294ef790c56c8aec1f/raw/819b69b5736821ccee93d05b51de0510bea00294/pima-indians-diabetes.csv',
              'pima.csv')

In [ ]:
df_pima = pd.read_csv(os.path.join(data_dir, 'pima.csv'),
                      header=8,
                      names = ['preg', 'gluc', 'pres', 'skin' ,'insu', 'bmi', 'pedi', 'age', 'class'])
df_pima.sample(10)

     preg  gluc  pres  skin  insu   bmi   pedi  age  class
722     1   149    68    29   127  29.3  0.349   42      1
563     6    99    60    19    54  26.9  0.497   32      0
595     0   188    82    14   185  32.0  0.682   22      1
364     4   147    74    25   293  34.9  0.385   30      0
700     2   122    76    27   200  35.9  0.483   26      0
289     5   108    72    43    75  36.1  0.263   33      0
81      2    74     0     0     0   0.0  0.102   22      0
369     1   133   102    28   140  32.8  0.234   45      1
20      3   126    88    41   235  39.3  0.704   27      0
166     3   148    66    25     0  32.5  0.256   22      0

## Wine - Quality Regression

In [ ]:
%%html
<iframe src="https://archive.ics.uci.edu/ml/datasets/wine+quality" width="1100" height="600"></iframe>

In [ ]:
download_save('https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv',
              'wine.csv')

In [ ]:
df_wine = pd.read_csv(os.path.join(data_dir, 'wine.csv'), sep=';')
df_wine.sample(10)

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
785             9.9              0.35         0.41  ...       0.50      9.5        5
362            11.9              0.58         0.66  ...       0.56     10.0        5
994            10.0              0.35         0.45  ...       0.43      9.4        5
1159           10.2              0.41         0.43  ...       0.67     10.8        5
649             6.7              0.42         0.27  ...       0.57     11.3        6
78              6.7              0.75         0.12  ...       0.52     10.1        5
212            11.6              0.44         0.64  ...       0.67     10.2        6
1233           10.2              0.23         0.37  ...       0.49      9.3        4
619            11.3              0.37         0.41  ...       0.80      9.3        5
348             9.6              0.56         0.31  ...       0.92     10.0        6

[10 rows x 12 columns]

## Housing - Price Regression

In [ ]:
%%html
<iframe src="https://www.cs.toronto.edu/~delve/data/boston/bostonDetail.html" width="1100" height="600"></iframe>

In [ ]:
download_save('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv',
              'housing.csv')

In [ ]:
df_housing = pd.read_csv(os.path.join(data_dir, 'housing.csv'))
df_housing.sample(10)

        crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
441  9.72418   0.0  18.10     0  0.740  ...  666     20.2  385.96  19.52  17.1
464  7.83932   0.0  18.10     0  0.655  ...  666     20.2  396.90  13.22  21.4
120  0.06899   0.0  25.65     0  0.581  ...  188     19.1  389.15  14.37  22.0
466  3.77498   0.0  18.10     0  0.655  ...  666     20.2   22.01  17.15  19.0
271  0.16211  20.0   6.96     0  0.464  ...  223     18.6  396.90   6.59  25.2
336  0.03427   0.0   5.19     0  0.515  ...  224     20.2  396.90   9.80  19.5
269  0.09065  20.0   6.96     1  0.464  ...  223     18.6  391.34  13.65  20.7
161  1.46336   0.0  19.58     0  0.605  ...  403     14.7  374.43   1.73  50.0
314  0.36920   0.0   9.90     0  0.544  ...  304     18.4  395.69   9.28  23.8
174  0.08447   0.0   4.05     0  0.510  ...  296     16.6  393.23   9.64  22.6

[10 rows x 14 columns]

## Happiness - Satisfaction Regression

In [ ]:
%%html
<iframe src="https://ec.europa.eu/eurostat/databrowser/view/ilc_pw01$DV_528/default/table?lang=en" width="1100" height="600"></iframe>

In [ ]:
%%html
<iframe src="https://ec.europa.eu/eurostat/statistics-explained/index.php?title=EU_statistics_on_income_and_living_conditions_(EU-SILC)_methodology_-_2013_personal_well-being_indicators" width="1100" height="600"></iframe>

In [ ]:
client = EurostatAPIClient('v2.1', 'json', 'en')

df = []
for sat_cat in ['ACCSAT', 'COMSAT', 'FINSAT', 'GREENSAT', 'JOBSAT', 'LIFESAT', 'LIVENVSAT', 'MEANLIFE', 'RELSAT', 'TIMESAT']:

  par_df = {
      'geo': ['AT', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL', 'ES', 'FI', 'FR', 'HR', 'HU', 'IE', 'IS', 'IT', 'LT', 'LU', 'LV', 'ME', 'MK', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'RS', 'SE', 'SI', 'SK', 'TR', 'UK', 'AL', 'XK'],
      'indic_wb': sat_cat,
      'isced11': ['ED0-2', 'ED3_4', 'ED5-8', 'ED5_6'],
      'age': ['Y16-24', 'Y16-24', 'Y25-34', 'Y35-49', 'Y50-64', 'Y65-74'],
      'unit': 'RTG',
      'sex': ['F', 'M'],
      'time': ['2013', '2018'],
      'precision': 1}

  print(sat_cat)
  dfi = client.get_dataset('ilc_pw01', params=par_df).to_dataframe()
  df.append(dfi)

df = pd.concat(df, axis=0, ignore_index=True)
df = df.pivot(values='values', columns='indic_wb', index=df.columns.drop(['indic_wb', 'values', 'unit'])).reset_index()
df.dropna(subset=['LIFESAT'], axis=0, inplace=True)
df.to_csv(os.path.join(data_dir, 'happiness.csv'), index=False)

ACCSAT
COMSAT
FINSAT
GREENSAT
JOBSAT
LIFESAT
LIVENVSAT
MEANLIFE
RELSAT
TIMESAT

In [ ]:
df_happiness = pd.read_csv(os.path.join(data_dir, 'happiness.csv'))
df_happiness.sample(10)

     isced11 sex     age geo  ...  LIVENVSAT  MEANLIFE  RELSAT  TIMESAT
1228   ED3_4   M  Y35-49  IE  ...        NaN       NaN     8.5      6.8
1175   ED3_4   M  Y25-34  NL  ...        NaN       NaN     7.8      6.8
1742   ED5-8   F  Y65-74  SK  ...        7.0       7.6     7.9      8.1
1706   ED5-8   F  Y65-74  HU  ...        6.6       7.5     7.8      7.2
1777   ED5-8   M  Y16-24  PL  ...        7.4       8.2     8.5      7.1
426    ED0-2   M  Y25-34  BG  ...        4.3       5.2     5.1      5.1
1106   ED3_4   M  Y16-24  NO  ...        NaN       NaN     8.8      7.7
911    ED3_4   F  Y35-49  UK  ...        NaN       NaN     8.4      6.1
523    ED0-2   M  Y35-49  LT  ...        7.4       6.2     7.2      6.3
1149   ED3_4   M  Y25-34  FI  ...        NaN       NaN     8.2      7.3

[10 rows x 15 columns]

# Missing Values

In [ ]:
df_happiness

     isced11 sex     age geo  ...  LIVENVSAT  MEANLIFE  RELSAT  TIMESAT
0      ED0-2   F  Y16-24  AL  ...        NaN       NaN     7.2      5.9
1      ED0-2   F  Y16-24  AT  ...        8.2       7.8     8.8      7.2
2      ED0-2   F  Y16-24  AT  ...        NaN       NaN     8.9      7.3
3      ED0-2   F  Y16-24  BE  ...        7.4       8.0     8.1      7.7
4      ED0-2   F  Y16-24  BE  ...        NaN       NaN     8.0      7.6
...      ...  ..     ...  ..  ...        ...       ...     ...      ...
2140   ED5_6   M  Y65-74  MT  ...        7.1       8.4     8.9      7.6
2141   ED5_6   M  Y65-74  RO  ...        7.3       7.6     7.9      7.9
2142   ED5_6   M  Y65-74  SE  ...        8.3       8.3     8.7      8.6
2143   ED5_6   M  Y65-74  TR  ...        7.3       7.2     7.7      6.5
2144   ED5_6   M  Y65-74  UK  ...        8.4       8.1     8.7      8.5

[2145 rows x 15 columns]

## Detect

In [ ]:
df_happiness.isnull().sum()

isced11         0
sex             0
age             0
geo             0
time            0
ACCSAT       1084
COMSAT       1336
FINSAT          0
GREENSAT     1085
JOBSAT        464
LIFESAT         0
LIVENVSAT    1084
MEANLIFE     1085
RELSAT          0
TIMESAT         1
dtype: int64

In [ ]:
df_happiness.isnull().sum() / len(df_happiness) * 100

isced11       0.000000
sex           0.000000
age           0.000000
geo           0.000000
time          0.000000
ACCSAT       50.536131
COMSAT       62.284382
FINSAT        0.000000
GREENSAT     50.582751
JOBSAT       21.631702
LIFESAT       0.000000
LIVENVSAT    50.536131
MEANLIFE     50.582751
RELSAT        0.000000
TIMESAT       0.046620
dtype: float64

## Drop

In [ ]:
df_happiness.dropna(axis=0)

     isced11 sex     age geo  ...  LIVENVSAT  MEANLIFE  RELSAT  TIMESAT
1      ED0-2   F  Y16-24  AT  ...        8.2       7.8     8.8      7.2
12     ED0-2   F  Y16-24  DE  ...        7.2       7.2     8.0      6.5
16     ED0-2   F  Y16-24  EE  ...        7.1       7.7     8.0      7.0
20     ED0-2   F  Y16-24  ES  ...        7.0       7.8     8.0      7.2
28     ED0-2   F  Y16-24  HU  ...        5.9       7.5     8.1      6.7
...      ...  ..     ...  ..  ...        ...       ...     ...      ...
2136   ED5_6   M  Y50-64  UK  ...        7.9       7.8     8.5      6.8
2139   ED5_6   M  Y65-74  IT  ...        6.5       7.6     7.5      7.4
2142   ED5_6   M  Y65-74  SE  ...        8.3       8.3     8.7      8.6
2143   ED5_6   M  Y65-74  TR  ...        7.3       7.2     7.7      6.5
2144   ED5_6   M  Y65-74  UK  ...        8.4       8.1     8.7      8.5

[808 rows x 15 columns]

## Impute

### with constant

In [ ]:
df_happiness.fillna(0)

     isced11 sex     age geo  ...  LIVENVSAT  MEANLIFE  RELSAT  TIMESAT
0      ED0-2   F  Y16-24  AL  ...        0.0       0.0     7.2      5.9
1      ED0-2   F  Y16-24  AT  ...        8.2       7.8     8.8      7.2
2      ED0-2   F  Y16-24  AT  ...        0.0       0.0     8.9      7.3
3      ED0-2   F  Y16-24  BE  ...        7.4       8.0     8.1      7.7
4      ED0-2   F  Y16-24  BE  ...        0.0       0.0     8.0      7.6
...      ...  ..     ...  ..  ...        ...       ...     ...      ...
2140   ED5_6   M  Y65-74  MT  ...        7.1       8.4     8.9      7.6
2141   ED5_6   M  Y65-74  RO  ...        7.3       7.6     7.9      7.9
2142   ED5_6   M  Y65-74  SE  ...        8.3       8.3     8.7      8.6
2143   ED5_6   M  Y65-74  TR  ...        7.3       7.2     7.7      6.5
2144   ED5_6   M  Y65-74  UK  ...        8.4       8.1     8.7      8.5

[2145 rows x 15 columns]

In [ ]:
help(df_happiness.fillna)

Help on method fillna in module pandas.core.frame:

fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None) -> Union[ForwardRef('DataFrame'), NoneType] method of pandas.core.frame.DataFrame instance
    Fill NA/NaN values using the specified method.

    Parameters
    ----------
    value : scalar, dict, Series, or DataFrame
        Value to use to fill holes (e.g. 0), alternately a
        dict/Series/DataFrame of values specifying which value to use for
        each index (for a Series) or column (for a DataFrame).  Values not
        in the dict/Series/DataFrame will not be filled. This value cannot
        be a list.
    method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
        Method to use for filling holes in reindexed Series
        pad / ffill: propagate last valid observation forward to next valid
        backfill / bfill: use next valid observation to fill gap.
    axis : {0 or 'index', 1 or 'columns'}
        Axis along which to fill missing values.
    inplace : bool, default False
        If True, fill in-place. Note: this will modify any
        other views on this object (e.g., a no-copy slice for a column in a
        DataFrame).
    limit : int, default None
        If method is specified, this is the maximum number of consecutive
        NaN values to forward/backward fill. In other words, if there is
        a gap with more than this number of consecutive NaNs, it will only
        be partially filled. If method is not specified, this is the
        maximum number of entries along the entire axis where NaNs will be
        filled. Must be greater than 0 if not None.
    downcast : dict, default is None
        A dict of item->dtype of what to downcast if possible,
        or the string 'infer' which will try to downcast to an appropriate
        equal type (e.g. float64 to int64 if possible).

    Returns
    -------
    DataFrame or None
        Object with missing values filled or None if ``inplace=True``.

    See Also
    --------
    interpolate : Fill NaN values using interpolation.
    reindex : Conform object to new index.
    asfreq : Convert TimeSeries to specified frequency.

    Examples
    --------
    >>> df = pd.DataFrame([[np.nan, 2, np.nan, 0],
    ...                    [3, 4, np.nan, 1],
    ...                    [np.nan, np.nan, np.nan, 5],
    ...                    [np.nan, 3, np.nan, 4]],
    ...                   columns=list('ABCD'))
    >>> df
         A    B   C  D
    0  NaN  2.0 NaN  0
    1  3.0  4.0 NaN  1
    2  NaN  NaN NaN  5
    3  NaN  3.0 NaN  4

    Replace all NaN elements with 0s.

    >>> df.fillna(0)
        A   B   C   D
    0   0.0 2.0 0.0 0
    1   3.0 4.0 0.0 1
    2   0.0 0.0 0.0 5
    3   0.0 3.0 0.0 4

    We can also propagate non-null values forward or backward.

    >>> df.fillna(method='ffill')
        A   B   C   D
    0   NaN 2.0 NaN 0
    1   3.0 4.0 NaN 1
    2   3.0 4.0 NaN 5
    3   3.0 3.0 NaN 4

    Replace all NaN elements in column 'A', 'B', 'C', and 'D', with 0, 1,
    2, and 3 respectively.

    >>> values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
    >>> df.fillna(value=values)
        A   B   C   D
    0   0.0 2.0 2.0 0
    1   3.0 4.0 2.0 1
    2   0.0 1.0 2.0 5
    3   0.0 3.0 2.0 4

    Only replace the first NaN element.

    >>> df.fillna(value=values, limit=1)
        A   B   C   D
    0   0.0 2.0 2.0 0
    1   3.0 4.0 NaN 1
    2   NaN 1.0 NaN 5
    3   NaN 3.0 NaN 4

### with preceding

In [ ]:
df_happiness.fillna(method='ffill')

     isced11 sex     age geo  ...  LIVENVSAT  MEANLIFE  RELSAT  TIMESAT
0      ED0-2   F  Y16-24  AL  ...        NaN       NaN     7.2      5.9
1      ED0-2   F  Y16-24  AT  ...        8.2       7.8     8.8      7.2
2      ED0-2   F  Y16-24  AT  ...        8.2       7.8     8.9      7.3
3      ED0-2   F  Y16-24  BE  ...        7.4       8.0     8.1      7.7
4      ED0-2   F  Y16-24  BE  ...        7.4       8.0     8.0      7.6
...      ...  ..     ...  ..  ...        ...       ...     ...      ...
2140   ED5_6   M  Y65-74  MT  ...        7.1       8.4     8.9      7.6
2141   ED5_6   M  Y65-74  RO  ...        7.3       7.6     7.9      7.9
2142   ED5_6   M  Y65-74  SE  ...        8.3       8.3     8.7      8.6
2143   ED5_6   M  Y65-74  TR  ...        7.3       7.2     7.7      6.5
2144   ED5_6   M  Y65-74  UK  ...        8.4       8.1     8.7      8.5

[2145 rows x 15 columns]

### with average

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
help(SimpleImputer)

Help on class SimpleImputer in module sklearn.impute._base:

class SimpleImputer(_BaseImputer)
 |  SimpleImputer(missing_values=nan, strategy='mean', fill_value=None, verbose=0, copy=True, add_indicator=False)
 |
 |  Imputation transformer for completing missing values.
 |
 |  Read more in the :ref:`User Guide <impute>`.
 |
 |  Parameters
 |  ----------
 |  missing_values : number, string, np.nan (default) or None
 |      The placeholder for the missing values. All occurrences of
 |      `missing_values` will be imputed.
 |
 |  strategy : string, default='mean'
 |      The imputation strategy.
 |
 |      - If "mean", then replace missing values using the mean along
 |        each column. Can only be used with numeric data.
 |      - If "median", then replace missing values using the median along
 |        each column. Can only be used with numeric data.
 |      - If "most_frequent", then replace missing using the most frequent
 |        value along each column. Can be used with strings or numeric data.
 |      - If "constant", then replace missing values with fill_value. Can be
 |        used with strings or numeric data.
 |
 |      .. versionadded:: 0.20
 |         strategy="constant" for fixed value imputation.
 |
 |  fill_value : string or numerical value, default=None
 |      When strategy == "constant", fill_value is used to replace all
 |      occurrences of missing_values.
 |      If left to the default, fill_value will be 0 when imputing numerical
 |      data and "missing_value" for strings or object data types.
 |
 |  verbose : integer, default=0
 |      Controls the verbosity of the imputer.
 |
 |  copy : boolean, default=True
 |      If True, a copy of X will be created. If False, imputation will
 |      be done in-place whenever possible. Note that, in the following cases,
 |      a new copy will always be made, even if `copy=False`:
 |
 |      - If X is not an array of floating values;
 |      - If X is encoded as a CSR matrix;
 |      - If add_indicator=True.
 |
 |  add_indicator : boolean, default=False
 |      If True, a :class:`MissingIndicator` transform will stack onto output
 |      of the imputer's transform. This allows a predictive estimator
 |      to account for missingness despite imputation. If a feature has no
 |      missing values at fit/train time, the feature won't appear on
 |      the missing indicator even if there are missing values at
 |      transform/test time.
 |
 |  Attributes
 |  ----------
 |  statistics_ : array of shape (n_features,)
 |      The imputation fill value for each feature.
 |      Computing statistics can result in `np.nan` values.
 |      During :meth:`transform`, features corresponding to `np.nan`
 |      statistics will be discarded.
 |
 |  indicator_ : :class:`sklearn.impute.MissingIndicator`
 |      Indicator used to add binary indicators for missing values.
 |      ``None`` if add_indicator is False.
 |
 |  See also
 |  --------
 |  IterativeImputer : Multivariate imputation of missing values.
 |
 |  Examples
 |  --------
 |  >>> import numpy as np
 |  >>> from sklearn.impute import SimpleImputer
 |  >>> imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
 |  >>> imp_mean.fit([[7, 2, 3], [4, np.nan, 6], [10, 5, 9]])
 |  SimpleImputer()
 |  >>> X = [[np.nan, 2, 3], [4, np.nan, 6], [10, np.nan, 9]]
 |  >>> print(imp_mean.transform(X))
 |  [[ 7.   2.   3. ]
 |   [ 4.   3.5  6. ]
 |   [10.   3.5  9. ]]
 |
 |  Notes
 |  -----
 |  Columns which only contained missing values at :meth:`fit` are discarded
 |  upon :meth:`transform` if strategy is not "constant".
 |
 |  Method resolution order:
 |      SimpleImputer
 |      _BaseImputer
 |      sklearn.base.TransformerMixin
 |      sklearn.base.BaseEstimator
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, missing_values=nan, strategy='mean', fill_value=None, verbose=0, copy=True, add_indicator=False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y=None)
 |      Fit the imputer on X.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix}, shape (n_samples, n_features)
 |          Input data, where ``n_samples`` is the number of samples and
 |          ``n_features`` is the number of features.
 |
 |      Returns
 |      -------
 |      self : SimpleImputer
 |
 |  transform(self, X)
 |      Impute all missing values in X.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix}, shape (n_samples, n_features)
 |          The input data to complete.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.TransformerMixin:
 |
 |  fit_transform(self, X, y=None, **fit_params)
 |      Fit to data, then transform it.
 |
 |      Fits transformer to X and y with optional parameters fit_params
 |      and returns a transformed version of X.
 |
 |      Parameters
 |      ----------
 |      X : numpy array of shape [n_samples, n_features]
 |          Training set.
 |
 |      y : numpy array of shape [n_samples]
 |          Target values.
 |
 |      **fit_params : dict
 |          Additional fit parameters.
 |
 |      Returns
 |      -------
 |      X_new : numpy array of shape [n_samples, n_features_new]
 |          Transformed array.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.TransformerMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : bool, default=True
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : mapping of string to any
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as pipelines). The latter have parameters of the form
 |      ``<component>__<parameter>`` so that it's possible to update each
 |      component of a nested object.
 |
 |      Parameters
 |      ----------
 |      **params : dict
 |          Estimator parameters.
 |
 |      Returns
 |      -------
 |      self : object
 |          Estimator instance.

In [ ]:
columns_with_missing_values = [col for col in df_happiness.columns if df_happiness[col].isnull().sum()]
columns_with_missing_values

['ACCSAT', 'COMSAT', 'GREENSAT', 'JOBSAT', 'LIVENVSAT', 'MEANLIFE', 'TIMESAT']

In [ ]:
df_imputed = df_happiness.copy()

my_imputer = SimpleImputer(strategy='mean')
df_imputed[columns_with_missing_values] = my_imputer.fit_transform(df_imputed[columns_with_missing_values].values)

df_imputed.sample(10)

     isced11 sex     age geo  ...  LIVENVSAT  MEANLIFE  RELSAT  TIMESAT
782    ED3_4   F  Y25-34  CZ  ...   7.119887  7.522264     8.5      6.0
2077   ED5_6   F  Y25-34  IE  ...   7.900000  7.800000     8.9      6.3
1433   ED5-8   F  Y16-24  HU  ...   7.119887  7.522264     7.9      7.8
1192   ED3_4   M  Y25-34  TR  ...   6.300000  6.600000     7.6      5.7
2082   ED5_6   F  Y25-34  TR  ...   6.500000  6.900000     7.6      5.6
2136   ED5_6   M  Y50-64  UK  ...   7.900000  7.800000     8.5      6.8
679    ED0-2   M  Y65-74  NO  ...   8.900000  8.300000     8.8      8.6
1267   ED3_4   M  Y35-49  XK  ...   7.119887  7.522264     8.6      6.1
667    ED0-2   M  Y65-74  LU  ...   7.800000  7.800000     7.6      7.7
1183   ED3_4   M  Y25-34  RO  ...   7.119887  7.522264     8.0      7.0

[10 rows x 15 columns]

In [ ]:
df_happiness

     isced11 sex     age geo  ...  LIVENVSAT  MEANLIFE  RELSAT  TIMESAT
0      ED0-2   F  Y16-24  AL  ...        NaN       NaN     7.2      5.9
1      ED0-2   F  Y16-24  AT  ...        8.2       7.8     8.8      7.2
2      ED0-2   F  Y16-24  AT  ...        NaN       NaN     8.9      7.3
3      ED0-2   F  Y16-24  BE  ...        7.4       8.0     8.1      7.7
4      ED0-2   F  Y16-24  BE  ...        NaN       NaN     8.0      7.6
...      ...  ..     ...  ..  ...        ...       ...     ...      ...
2140   ED5_6   M  Y65-74  MT  ...        7.1       8.4     8.9      7.6
2141   ED5_6   M  Y65-74  RO  ...        7.3       7.6     7.9      7.9
2142   ED5_6   M  Y65-74  SE  ...        8.3       8.3     8.7      8.6
2143   ED5_6   M  Y65-74  TR  ...        7.3       7.2     7.7      6.5
2144   ED5_6   M  Y65-74  UK  ...        8.4       8.1     8.7      8.5

[2145 rows x 15 columns]

In [ ]:
df_imputed = df_happiness.copy()

for col in columns_with_missing_values:
  df_imputed[f'{col}_nan'] = df_happiness[col].isna()

my_imputer = SimpleImputer(strategy='mean')
df_imputed[columns_with_missing_values] = my_imputer.fit_transform(df_imputed[columns_with_missing_values].values)

df_imputed.sample(10)

     isced11 sex     age  ... LIVENVSAT_nan  MEANLIFE_nan  TIMESAT_nan
1757   ED5-8   M  Y16-24  ...         False         False        False
893    ED3_4   F  Y35-49  ...          True          True        False
1206   ED3_4   M  Y35-49  ...          True          True        False
1414   ED5-8   F  Y16-24  ...          True          True        False
1832   ED5-8   M  Y25-34  ...         False         False        False
1098   ED3_4   M  Y16-24  ...          True          True        False
345    ED0-2   F  Y65-74  ...          True          True        False
1264   ED3_4   M  Y35-49  ...          True          True        False
2075   ED5_6   F  Y16-24  ...         False         False        False
42     ED0-2   F  Y16-24  ...         False         False        False

[10 rows x 22 columns]

# Categorical Variables

In [ ]:
df_happiness.nunique()

isced11       4
sex           2
age           5
geo          37
time          2
ACCSAT       49
COMSAT       46
FINSAT       66
GREENSAT     54
JOBSAT       52
LIFESAT      57
LIVENVSAT    51
MEANLIFE     41
RELSAT       47
TIMESAT      50
dtype: int64

In [ ]:
categorical_columns = [col for col in df_happiness.columns if df_happiness[col].nunique() < 40]
categorical_columns

['isced11', 'sex', 'age', 'geo', 'time']

## Ordinal Encoding

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
help(OrdinalEncoder)

Help on class OrdinalEncoder in module sklearn.preprocessing._encoders:

class OrdinalEncoder(_BaseEncoder)
 |  OrdinalEncoder(categories='auto', dtype=<class 'numpy.float64'>)
 |
 |  Encode categorical features as an integer array.
 |
 |  The input to this transformer should be an array-like of integers or
 |  strings, denoting the values taken on by categorical (discrete) features.
 |  The features are converted to ordinal integers. This results in
 |  a single column of integers (0 to n_categories - 1) per feature.
 |
 |  Read more in the :ref:`User Guide <preprocessing_categorical_features>`.
 |
 |  .. versionchanged:: 0.20.1
 |
 |  Parameters
 |  ----------
 |  categories : 'auto' or a list of array-like, default='auto'
 |      Categories (unique values) per feature:
 |
 |      - 'auto' : Determine categories automatically from the training data.
 |      - list : ``categories[i]`` holds the categories expected in the ith
 |        column. The passed categories should not mix strings and numeric
 |        values, and should be sorted in case of numeric values.
 |
 |      The used categories can be found in the ``categories_`` attribute.
 |
 |  dtype : number type, default np.float64
 |      Desired dtype of output.
 |
 |  Attributes
 |  ----------
 |  categories_ : list of arrays
 |      The categories of each feature determined during fitting
 |      (in order of the features in X and corresponding with the output
 |      of ``transform``).
 |
 |  See Also
 |  --------
 |  sklearn.preprocessing.OneHotEncoder : Performs a one-hot encoding of
 |    categorical features.
 |  sklearn.preprocessing.LabelEncoder : Encodes target labels with values
 |    between 0 and n_classes-1.
 |
 |  Examples
 |  --------
 |  Given a dataset with two features, we let the encoder find the unique
 |  values per feature and transform the data to an ordinal encoding.
 |
 |  >>> from sklearn.preprocessing import OrdinalEncoder
 |  >>> enc = OrdinalEncoder()
 |  >>> X = [['Male', 1], ['Female', 3], ['Female', 2]]
 |  >>> enc.fit(X)
 |  OrdinalEncoder()
 |  >>> enc.categories_
 |  [array(['Female', 'Male'], dtype=object), array([1, 2, 3], dtype=object)]
 |  >>> enc.transform([['Female', 3], ['Male', 1]])
 |  array([[0., 2.],
 |         [1., 0.]])
 |
 |  >>> enc.inverse_transform([[1, 0], [0, 1]])
 |  array([['Male', 1],
 |         ['Female', 2]], dtype=object)
 |
 |  Method resolution order:
 |      OrdinalEncoder
 |      _BaseEncoder
 |      sklearn.base.TransformerMixin
 |      sklearn.base.BaseEstimator
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, categories='auto', dtype=<class 'numpy.float64'>)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y=None)
 |      Fit the OrdinalEncoder to X.
 |
 |      Parameters
 |      ----------
 |      X : array-like, shape [n_samples, n_features]
 |          The data to determine the categories of each feature.
 |
 |      y : None
 |          Ignored. This parameter exists only for compatibility with
 |          :class:`sklearn.pipeline.Pipeline`.
 |
 |      Returns
 |      -------
 |      self
 |
 |  inverse_transform(self, X)
 |      Convert the data back to the original representation.
 |
 |      Parameters
 |      ----------
 |      X : array-like or sparse matrix, shape [n_samples, n_encoded_features]
 |          The transformed data.
 |
 |      Returns
 |      -------
 |      X_tr : array-like, shape [n_samples, n_features]
 |          Inverse transformed array.
 |
 |  transform(self, X)
 |      Transform X to ordinal codes.
 |
 |      Parameters
 |      ----------
 |      X : array-like, shape [n_samples, n_features]
 |          The data to encode.
 |
 |      Returns
 |      -------
 |      X_out : sparse matrix or a 2-d array
 |          Transformed input.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.TransformerMixin:
 |
 |  fit_transform(self, X, y=None, **fit_params)
 |      Fit to data, then transform it.
 |
 |      Fits transformer to X and y with optional parameters fit_params
 |      and returns a transformed version of X.
 |
 |      Parameters
 |      ----------
 |      X : numpy array of shape [n_samples, n_features]
 |          Training set.
 |
 |      y : numpy array of shape [n_samples]
 |          Target values.
 |
 |      **fit_params : dict
 |          Additional fit parameters.
 |
 |      Returns
 |      -------
 |      X_new : numpy array of shape [n_samples, n_features_new]
 |          Transformed array.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.TransformerMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : bool, default=True
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : mapping of string to any
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as pipelines). The latter have parameters of the form
 |      ``<component>__<parameter>`` so that it's possible to update each
 |      component of a nested object.
 |
 |      Parameters
 |      ----------
 |      **params : dict
 |          Estimator parameters.
 |
 |      Returns
 |      -------
 |      self : object
 |          Estimator instance.

In [ ]:
ordinal_encoder = OrdinalEncoder()

df_happiness_ordinal = df_happiness.copy()
df_happiness_ordinal[categorical_columns] = ordinal_encoder.fit_transform(df_happiness_ordinal[categorical_columns])

df_happiness_ordinal.sample(10)

      isced11  sex  age   geo  ...  LIVENVSAT  MEANLIFE  RELSAT  TIMESAT
680       0.0  1.0  4.0  26.0  ...        NaN       NaN     8.8      8.5
1429      2.0  0.0  0.0  12.0  ...        NaN       NaN     8.6      7.1
1809      2.0  1.0  1.0  11.0  ...        NaN       NaN     8.6      6.9
53        0.0  0.0  0.0  27.0  ...        NaN       NaN     8.6      7.4
281       0.0  0.0  4.0   1.0  ...        8.8       8.1     8.9      8.3
60        0.0  0.0  0.0  31.0  ...        7.4       7.4     8.2      7.4
1359      1.0  1.0  4.0  11.0  ...        7.8       7.8     8.3      8.0
1094      1.0  1.0  0.0  20.0  ...        NaN       NaN     7.7      7.2
1065      1.0  1.0  0.0   6.0  ...        7.6       7.6     8.2      7.1
901       1.0  0.0  2.0  30.0  ...        NaN       NaN     7.4      5.1

[10 rows x 15 columns]

In [ ]:
ordinal_encoder.categories_

[array(['ED0-2', 'ED3_4', 'ED5-8', 'ED5_6'], dtype=object),
 array(['F', 'M'], dtype=object),
 array(['Y16-24', 'Y25-34', 'Y35-49', 'Y50-64', 'Y65-74'], dtype=object),
 array(['AL', 'AT', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL',
        'ES', 'FI', 'FR', 'HR', 'HU', 'IE', 'IS', 'IT', 'LT', 'LU', 'LV',
        'ME', 'MK', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'RS', 'SE', 'SI',
        'SK', 'TR', 'UK', 'XK'], dtype=object),
 array([2013, 2018])]

In [ ]:
ordinal_encoder.inverse_transform(df_happiness_ordinal[categorical_columns])

array([['ED0-2', 'F', 'Y16-24', 'AL', 2018],
       ['ED0-2', 'F', 'Y16-24', 'AT', 2013],
       ['ED0-2', 'F', 'Y16-24', 'AT', 2018],
       ...,
       ['ED5_6', 'M', 'Y65-74', 'SE', 2013],
       ['ED5_6', 'M', 'Y65-74', 'TR', 2013],
       ['ED5_6', 'M', 'Y65-74', 'UK', 2013]], dtype=object)

In [ ]:
ordinal_encoder = OrdinalEncoder(categories=[['ED0-2', 'ED3_4', 'ED5_6', 'ED5-8'],
                                             ['M', 'F'],
                                             list(df_happiness['age'].unique()),
                                             list(df_happiness['geo'].unique()),
                                             [2013, 2018]])

df_happiness_ordinal = df_happiness.copy()
df_happiness_ordinal[categorical_columns] = ordinal_encoder.fit_transform(df_happiness_ordinal[categorical_columns])

df_happiness_ordinal.sample(10)

      isced11  sex  age   geo  ...  LIVENVSAT  MEANLIFE  RELSAT  TIMESAT
948       1.0  1.0  3.0  18.0  ...        NaN       NaN     7.7      6.7
1379      1.0  0.0  4.0  21.0  ...        7.5       7.2     8.1      7.1
1936      3.0  0.0  3.0   5.0  ...        6.7       7.5     8.2      6.9
12        0.0  1.0  0.0   7.0  ...        7.2       7.2     8.0      6.5
1107      1.0  0.0  0.0  27.0  ...        7.5       7.8     8.3      7.5
1094      1.0  0.0  0.0  20.0  ...        NaN       NaN     7.7      7.2
55        0.0  1.0  0.0  28.0  ...        NaN       NaN     8.9      7.2
1055      1.0  0.0  0.0   0.0  ...        NaN       NaN     7.2      5.9
2042      3.0  0.0  4.0  23.0  ...        7.1       7.8     8.7      7.9
1918      3.0  0.0  2.0  31.0  ...        7.8       7.9     7.8      6.3

[10 rows x 15 columns]

In [ ]:
ordinal_encoder.categories_

[array(['ED0-2', 'ED3_4', 'ED5_6', 'ED5-8'], dtype=object),
 array(['M', 'F'], dtype=object),
 array(['Y16-24', 'Y25-34', 'Y35-49', 'Y50-64', 'Y65-74'], dtype=object),
 array(['AL', 'AT', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL',
        'ES', 'FI', 'FR', 'HR', 'HU', 'IE', 'IS', 'IT', 'LT', 'LU', 'LV',
        'ME', 'MK', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'RS', 'SE', 'SI',
        'SK', 'TR', 'UK', 'XK'], dtype=object),
 array([2013, 2018])]

## OneHot Encoding

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
help(OneHotEncoder)

Help on class OneHotEncoder in module sklearn.preprocessing._encoders:

class OneHotEncoder(_BaseEncoder)
 |  OneHotEncoder(categories='auto', drop=None, sparse=True, dtype=<class 'numpy.float64'>, handle_unknown='error')
 |
 |  Encode categorical features as a one-hot numeric array.
 |
 |  The input to this transformer should be an array-like of integers or
 |  strings, denoting the values taken on by categorical (discrete) features.
 |  The features are encoded using a one-hot (aka 'one-of-K' or 'dummy')
 |  encoding scheme. This creates a binary column for each category and
 |  returns a sparse matrix or dense array (depending on the ``sparse``
 |  parameter)
 |
 |  By default, the encoder derives the categories based on the unique values
 |  in each feature. Alternatively, you can also specify the `categories`
 |  manually.
 |
 |  This encoding is needed for feeding categorical data to many scikit-learn
 |  estimators, notably linear models and SVMs with the standard kernels.
 |
 |  Note: a one-hot encoding of y labels should use a LabelBinarizer
 |  instead.
 |
 |  Read more in the :ref:`User Guide <preprocessing_categorical_features>`.
 |
 |  .. versionchanged:: 0.20
 |
 |  Parameters
 |  ----------
 |  categories : 'auto' or a list of array-like, default='auto'
 |      Categories (unique values) per feature:
 |
 |      - 'auto' : Determine categories automatically from the training data.
 |      - list : ``categories[i]`` holds the categories expected in the ith
 |        column. The passed categories should not mix strings and numeric
 |        values within a single feature, and should be sorted in case of
 |        numeric values.
 |
 |      The used categories can be found in the ``categories_`` attribute.
 |
 |  drop : 'first' or a array-like of shape (n_features,), default=None
 |      Specifies a methodology to use to drop one of the categories per
 |      feature. This is useful in situations where perfectly collinear
 |      features cause problems, such as when feeding the resulting data
 |      into a neural network or an unregularized regression.
 |
 |      - None : retain all features (the default).
 |      - 'first' : drop the first category in each feature. If only one
 |        category is present, the feature will be dropped entirely.
 |      - array : ``drop[i]`` is the category in feature ``X[:, i]`` that
 |        should be dropped.
 |
 |  sparse : bool, default=True
 |      Will return sparse matrix if set True else will return an array.
 |
 |  dtype : number type, default=np.float
 |      Desired dtype of output.
 |
 |  handle_unknown : {'error', 'ignore'}, default='error'
 |      Whether to raise an error or ignore if an unknown categorical feature
 |      is present during transform (default is to raise). When this parameter
 |      is set to 'ignore' and an unknown category is encountered during
 |      transform, the resulting one-hot encoded columns for this feature
 |      will be all zeros. In the inverse transform, an unknown category
 |      will be denoted as None.
 |
 |  Attributes
 |  ----------
 |  categories_ : list of arrays
 |      The categories of each feature determined during fitting
 |      (in order of the features in X and corresponding with the output
 |      of ``transform``). This includes the category specified in ``drop``
 |      (if any).
 |
 |  drop_idx_ : array of shape (n_features,)
 |      ``drop_idx_[i]`` is the index in ``categories_[i]`` of the category to
 |      be dropped for each feature. None if all the transformed features will
 |      be retained.
 |
 |  See Also
 |  --------
 |  sklearn.preprocessing.OrdinalEncoder : Performs an ordinal (integer)
 |    encoding of the categorical features.
 |  sklearn.feature_extraction.DictVectorizer : Performs a one-hot encoding of
 |    dictionary items (also handles string-valued features).
 |  sklearn.feature_extraction.FeatureHasher : Performs an approximate one-hot
 |    encoding of dictionary items or strings.
 |  sklearn.preprocessing.LabelBinarizer : Binarizes labels in a one-vs-all
 |    fashion.
 |  sklearn.preprocessing.MultiLabelBinarizer : Transforms between iterable of
 |    iterables and a multilabel format, e.g. a (samples x classes) binary
 |    matrix indicating the presence of a class label.
 |
 |  Examples
 |  --------
 |  Given a dataset with two features, we let the encoder find the unique
 |  values per feature and transform the data to a binary one-hot encoding.
 |
 |  >>> from sklearn.preprocessing import OneHotEncoder
 |  >>> enc = OneHotEncoder(handle_unknown='ignore')
 |  >>> X = [['Male', 1], ['Female', 3], ['Female', 2]]
 |  >>> enc.fit(X)
 |  OneHotEncoder(handle_unknown='ignore')
 |  >>> enc.categories_
 |  [array(['Female', 'Male'], dtype=object), array([1, 2, 3], dtype=object)]
 |  >>> enc.transform([['Female', 1], ['Male', 4]]).toarray()
 |  array([[1., 0., 1., 0., 0.],
 |         [0., 1., 0., 0., 0.]])
 |  >>> enc.inverse_transform([[0, 1, 1, 0, 0], [0, 0, 0, 1, 0]])
 |  array([['Male', 1],
 |         [None, 2]], dtype=object)
 |  >>> enc.get_feature_names(['gender', 'group'])
 |  array(['gender_Female', 'gender_Male', 'group_1', 'group_2', 'group_3'],
 |    dtype=object)
 |  >>> drop_enc = OneHotEncoder(drop='first').fit(X)
 |  >>> drop_enc.categories_
 |  [array(['Female', 'Male'], dtype=object), array([1, 2, 3], dtype=object)]
 |  >>> drop_enc.transform([['Female', 1], ['Male', 2]]).toarray()
 |  array([[0., 0., 0.],
 |         [1., 1., 0.]])
 |
 |  Method resolution order:
 |      OneHotEncoder
 |      _BaseEncoder
 |      sklearn.base.TransformerMixin
 |      sklearn.base.BaseEstimator
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, categories='auto', drop=None, sparse=True, dtype=<class 'numpy.float64'>, handle_unknown='error')
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y=None)
 |      Fit OneHotEncoder to X.
 |
 |      Parameters
 |      ----------
 |      X : array-like, shape [n_samples, n_features]
 |          The data to determine the categories of each feature.
 |
 |      y : None
 |          Ignored. This parameter exists only for compatibility with
 |          :class:`sklearn.pipeline.Pipeline`.
 |
 |      Returns
 |      -------
 |      self
 |
 |  fit_transform(self, X, y=None)
 |      Fit OneHotEncoder to X, then transform X.
 |
 |      Equivalent to fit(X).transform(X) but more convenient.
 |
 |      Parameters
 |      ----------
 |      X : array-like, shape [n_samples, n_features]
 |          The data to encode.
 |
 |      y : None
 |          Ignored. This parameter exists only for compatibility with
 |          :class:`sklearn.pipeline.Pipeline`.
 |
 |      Returns
 |      -------
 |      X_out : sparse matrix if sparse=True else a 2-d array
 |          Transformed input.
 |
 |  get_feature_names(self, input_features=None)
 |      Return feature names for output features.
 |
 |      Parameters
 |      ----------
 |      input_features : list of str of shape (n_features,)
 |          String names for input features if available. By default,
 |          "x0", "x1", ... "xn_features" is used.
 |
 |      Returns
 |      -------
 |      output_feature_names : ndarray of shape (n_output_features,)
 |          Array of feature names.
 |
 |  inverse_transform(self, X)
 |      Convert the data back to the original representation.
 |
 |      In case unknown categories are encountered (all zeros in the
 |      one-hot encoding), ``None`` is used to represent this category.
 |
 |      Parameters
 |      ----------
 |      X : array-like or sparse matrix, shape [n_samples, n_encoded_features]
 |          The transformed data.
 |
 |      Returns
 |      -------
 |      X_tr : array-like, shape [n_samples, n_features]
 |          Inverse transformed array.
 |
 |  transform(self, X)
 |      Transform X using one-hot encoding.
 |
 |      Parameters
 |      ----------
 |      X : array-like, shape [n_samples, n_features]
 |          The data to encode.
 |
 |      Returns
 |      -------
 |      X_out : sparse matrix if sparse=True else a 2-d array
 |          Transformed input.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.TransformerMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : bool, default=True
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : mapping of string to any
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as pipelines). The latter have parameters of the form
 |      ``<component>__<parameter>`` so that it's possible to update each
 |      component of a nested object.
 |
 |      Parameters
 |      ----------
 |      **params : dict
 |          Estimator parameters.
 |
 |      Returns
 |      -------
 |      self : object
 |          Estimator instance.

In [ ]:
onehot_encoder = OneHotEncoder(handle_unknown='ignore',
                               sparse=False)

df_happiness_onehot = df_happiness.copy()
OH_categorical = pd.DataFrame(onehot_encoder.fit_transform(df_happiness_onehot[categorical_columns]))
OH_categorical.index = df_happiness_onehot.index
df_happiness_onehot.drop(categorical_columns, axis=1, inplace=True)
df_happiness_onehot = pd.concat([df_happiness_onehot, OH_categorical], axis=1)

df_happiness_onehot

      ACCSAT  COMSAT  FINSAT  GREENSAT  JOBSAT  ...   45   46   47   48   49
0        NaN     NaN     4.9       NaN     5.6  ...  0.0  0.0  0.0  0.0  1.0
1        8.6     8.4     7.5       8.1     8.5  ...  0.0  0.0  0.0  1.0  0.0
2        NaN     NaN     7.5       NaN     8.1  ...  0.0  0.0  0.0  0.0  1.0
3        7.8     NaN     6.7       6.7     NaN  ...  0.0  0.0  0.0  1.0  0.0
4        NaN     NaN     6.8       NaN     NaN  ...  0.0  0.0  0.0  0.0  1.0
...      ...     ...     ...       ...     ...  ...  ...  ...  ...  ...  ...
2140     8.2     NaN     7.5       6.7     NaN  ...  0.0  0.0  0.0  1.0  0.0
2141     8.0     NaN     7.1       7.4     NaN  ...  0.0  0.0  0.0  1.0  0.0
2142     8.9     8.6     8.8       8.9     8.7  ...  0.0  0.0  0.0  1.0  0.0
2143     7.2     6.8     6.1       6.4     7.0  ...  1.0  0.0  0.0  1.0  0.0
2144     8.8     8.7     7.9       8.4     7.7  ...  0.0  1.0  0.0  1.0  0.0

[2145 rows x 60 columns]

In [ ]:
onehot_encoder.categories_

[array(['ED0-2', 'ED3_4', 'ED5-8', 'ED5_6'], dtype=object),
 array(['F', 'M'], dtype=object),
 array(['Y16-24', 'Y25-34', 'Y35-49', 'Y50-64', 'Y65-74'], dtype=object),
 array(['AL', 'AT', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL',
        'ES', 'FI', 'FR', 'HR', 'HU', 'IE', 'IS', 'IT', 'LT', 'LU', 'LV',
        'ME', 'MK', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'RS', 'SE', 'SI',
        'SK', 'TR', 'UK', 'XK'], dtype=object),
 array([2013, 2018])]

In [ ]:
onehot_encoder.categories_

[array(['ED0-2', 'ED3_4', 'ED5-8', 'ED5_6'], dtype=object),
 array(['F', 'M'], dtype=object),
 array(['Y16-24', 'Y25-34', 'Y35-49', 'Y50-64', 'Y65-74'], dtype=object),
 array(['AL', 'AT', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL',
        'ES', 'FI', 'FR', 'HR', 'HU', 'IE', 'IS', 'IT', 'LT', 'LU', 'LV',
        'ME', 'MK', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'RS', 'SE', 'SI',
        'SK', 'TR', 'UK', 'XK'], dtype=object),
 array([2013, 2018])]

In [ ]:
column_names = [f'b_{val}' for cat in onehot_encoder.categories_ for val in cat]
column_names

onehot_encoder = OneHotEncoder(handle_unknown='ignore',
                               sparse=False)

df_happiness_onehot = df_happiness.copy()
OH_categorical = onehot_encoder.fit_transform(df_happiness_onehot[categorical_columns])
column_names = [val for cat in onehot_encoder.categories_ for val in cat]

OH_categorical = pd.DataFrame(OH_categorical, columns=column_names)
OH_categorical.index = df_happiness_onehot.index
df_happiness_onehot.drop(categorical_columns, axis=1, inplace=True)
df_happiness_onehot = pd.concat([df_happiness_onehot, OH_categorical], axis=1)

df_happiness_onehot

      ACCSAT  COMSAT  FINSAT  GREENSAT  JOBSAT  ...   TR   UK   XK  2013  2018
0        NaN     NaN     4.9       NaN     5.6  ...  0.0  0.0  0.0   0.0   1.0
1        8.6     8.4     7.5       8.1     8.5  ...  0.0  0.0  0.0   1.0   0.0
2        NaN     NaN     7.5       NaN     8.1  ...  0.0  0.0  0.0   0.0   1.0
3        7.8     NaN     6.7       6.7     NaN  ...  0.0  0.0  0.0   1.0   0.0
4        NaN     NaN     6.8       NaN     NaN  ...  0.0  0.0  0.0   0.0   1.0
...      ...     ...     ...       ...     ...  ...  ...  ...  ...   ...   ...
2140     8.2     NaN     7.5       6.7     NaN  ...  0.0  0.0  0.0   1.0   0.0
2141     8.0     NaN     7.1       7.4     NaN  ...  0.0  0.0  0.0   1.0   0.0
2142     8.9     8.6     8.8       8.9     8.7  ...  0.0  0.0  0.0   1.0   0.0
2143     7.2     6.8     6.1       6.4     7.0  ...  1.0  0.0  0.0   1.0   0.0
2144     8.8     8.7     7.9       8.4     7.7  ...  0.0  1.0  0.0   1.0   0.0

[2145 rows x 60 columns]

In [ ]:
df_happiness_onehot.shape

(2145, 60)

## Label Encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
label_encoder = LabelEncoder()

df_iris_encoded = df_iris.copy()
df_iris_encoded['class'] = label_encoder.fit_transform(df_iris_encoded['class'])

df_iris_encoded.sample(10)

     sepal_length  sepal_width  petal_length  petal_width  class
63            6.1          2.9           4.7          1.4      1
121           5.6          2.8           4.9          2.0      2
10            5.4          3.7           1.5          0.2      0
24            4.8          3.4           1.9          0.2      0
109           7.2          3.6           6.1          2.5      2
61            5.9          3.0           4.2          1.5      1
88            5.6          3.0           4.1          1.3      1
4             5.0          3.6           1.4          0.2      0
20            5.4          3.4           1.7          0.2      0
35            5.0          3.2           1.2          0.2      0

In [ ]:
label_encoder.classes_

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [ ]:
label_encoder.inverse_transform(df_iris_encoded['class'])

array(['Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica'], dtype=object)